html {
	font-size: 20px;
	font-family: "Raleway", sans-serif;
	background-color: #292a44;
	color: #f1eff8;
	padding: 20px;
}

#main {
	background-color: #66339955;
	margin-top: 30px;
	margin-right: 75px;
	border-radius: 25px;
	padding: 15px;
}

#metro {
	width: 160px;
	top: 0;
	left: 0;
	background-color: #53495d;
	border-radius: 20px;
	padding: 7px;
}

#sidebar {
	width: 65px;
	position: fixed;
	z-index: 1;
	top:0;
	right: 0;
	height: 100%;
	overflow-x: hidden;
	background-color: #00000055;
	font-size: 30px;
	color: #7aa5ff;
}

#sidebar a {
	display: block;
	text-align: center;
	margin-top: 130px;
	margin-bottom: 30px;
}

#sidebar a#active-item {
	border-left: 3px solid #2de0a7;
}

#sidebar > a:hover {
	color: #3662bb;
}

#sidebar a div.menu-desc {
	display: none;
	visibility: hidden;
}

#login-html {
	background-image: url("../images/tren.png");
	background-size: cover;
	border: unset;
}

#login-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#login {
	margin-top: 10px;
	display: block;
	width: 450px;
	background-color: #292a44d5;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	padding: 10px 25px 10px 25px;
	border: 3px solid #b45bcf44;
}

#logo:hover, #login-logo:hover {
	-webkit-filter: drop-shadow(2px 1px 0 #ae81ff)
                        drop-shadow(-1px -1px 0 #ae81ff);
	filter: drop-shadow(2px 1px 0 #ae81ff)
                        drop-shadow(-1px -1px 0 #ae81ff);
}

a[href] {
	color: #978ee0;
	text-decoration: none;
}

#log-head {
	font-size: 80px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#log-sub {
	margin-top: 5px;
	padding: 0;
}

h1.center, h2.center, h3.center, h4.center {
	text-align: center;
}

input{
	display: block;
	padding: 8px;
	width: 100%;
	margin-bottom: 20px;
	font-size: 30px;
}

input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #666699;
	background: transparent;
	outline: none;
	height: 30px;
}

input[type="submit"] {
	background: #666699;
	border: 0;
	color: #f1eff8;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}

input[type="submit"]:hover{
	opacity: 1;
	cursor: pointer;
}

input[type="submit"]:active{
	transform: scale(0.97);
	opacity: 0.6;
}
