html {
	font-size: 20px;
	font-family: "Raleway", sans-serif;
	background-color: #292a44;
	color: #f1eff8;
	padding: 20px;
}

#main {
	background-color: #66339955;
	margin-top: 30px;
	margin-right: 75px;
	border-radius: 25px;
	padding: 15px;
}

#metro {
	width: 160px;
	top: 0;
	left: 0;
	background-color: #53495d;
	border-radius: 20px;
	padding: 7px;
}

#sidebar {
	width: 65px;
	position: fixed;
	z-index: 1;
	top:0;
	right: 0;
	height: 100%;
	overflow-x: hidden;
	background-color: #00000055;
	font-size: 30px;
	color: #7aa5ff;
}

#sidebar > a {
	display: block;
	text-align: center;
	margin-top: 130px;
	margin-bottom: 30px;
}

#login-html {
	background-image: url("../images/tren.png");
	background-size: cover;
	border: unset;
}

#login-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#login {
	margin-top: 10px;
	display: block;
	width: 450px;
	background-color: #292a44d5;
	margin-left: auto;
	margin-right: auto;
}

#logo:hover, #login-logo:hover {
	-webkit-filter: drop-shadow(2px 1px 0 #ae81ff)
                        drop-shadow(-1px -1px 0 #ae81ff);
	filter: drop-shadow(2px 1px 0 #ae81ff)
                        drop-shadow(-1px -1px 0 #ae81ff);
}

a[href] {
	color: #978ee0;
}

button {
	background-color: #666699;
	border: 2px solid white;
	padding: 10px;
	font-size: 25px;
	font-style: bold;
}

#log-head {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#log-sub {
	text-align: center;
}

h1.center, h2.center, h3.center, h4.center {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.datauser p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.datauser input{
	width: 0;
	margin-bottom: 20px;
}
.datauser input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #666699;
	background: transparent;
	outline: none;
	height: 40px;
}